@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  color: #000;
  font-family: "Mulish", sans-serif;
  font-style: normal;
}

/* .container {
} */

/* General style */
img {
  height: 50px;
}

section h2 {
  font-size: 2rem;
  margin-bottom: 3rem;
  position: relative;
}

/* Landing page */
.landing-page {
  padding: 1rem 0;
  height: 95vh;
}

/* Header */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3rem;
  padding: 1rem 10%;
}

/* Header logo */
header .logo {
  font-size: 1.5rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

header .logo .icon {
  width: 2.5rem;
  height: 2.5rem;
  background-color: #007bff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  color: #fff;
}

/*  Header nav  */
header nav ul {
  display: flex;
  gap: 0.7rem;
}

header nav ul li a {
  color: #00000080;
}
header nav ul li:first-child a {
  font-weight: bold;
  color: #000;
}

/* Landing Content */
.landing-page .landing-content {
  display: flex;
  padding: 3rem 10%;
  height: 80%;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

/*  Landing Content Part 1 */

.landing-page .landing-content .part-1 {
  width: 40%;
}
.landing-page .landing-content .part-1 h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.landing-page .landing-content .part-1 p {
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
}

.landing-page .landing-content .part-1 button {
  padding: 0.5rem 1rem;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 2rem;
  cursor: pointer;
}

/* Landing Content Part 2 */

.landing-page .landing-content .part-2 {
  flex: 1;
  height: 100%;
}

.landing-page .landing-content .part-2 img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 1rem;
}

/* Services */

section.services {
  padding: 3rem 10%;
  text-align: center;
}

.services h2 {
  font-size: 2rem;
  margin-bottom: 3.5rem;
  position: relative;
}

.services h2::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 2px;
  background-color: #000;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
}

.services > p {
  font-size: 1.1rem;
  font-weight: 300;
  max-width: 90%;
  margin: 0 auto 2rem;
}

/* Services Card */
.services .card-box {
  display: grid;
  margin: 7rem 0 3rem;
  grid-template-columns: repeat(3, minmax(140px, 1fr));
  grid-template-rows: repeat(2, minmax(300px, 1fr));
  gap: 0.7rem;
  text-align: start;
}

.services .card-box .card {
  padding: 1.5rem;
  border-radius: 0.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.services .card-box .card img {
  /* width: 100%; */
  height: 70px;
  object-fit: cover;
  margin-bottom: 1rem;
}

.services .card-box .card h3 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}
.services .card-box .card p {
  font-size: 1rem;
  color: #00000080;
  font-weight: 300;
  max-width: 90%;
}

button.learn-more {
  padding: 0.5rem 2rem;
  color: #458ff6;
  background: transparent;
  border: 1px solid #458ff6;
  border-radius: 2rem;
  cursor: pointer;
}

/* About */
section.about {
  margin: 5rem 0;
  padding: 3rem 7.5%;
}

.about .detail {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  margin-bottom: 7rem;
  height: 400px;
}

.about .detail.detail-2 {
  flex-direction: row-reverse;
}

.about .detail .image-con {
  flex: 1;
  height: 100%;
}

.about .detail .image-con img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.about .detail .text {
  padding-left: 3rem;
  width: 40%;
}

.about .detail .text h2 {
  font-size: 2rem;
  margin-bottom: 3rem;
  position: relative;
}

.about .detail .text h2::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 2px;
  background-color: #000;
  bottom: -10px;
  left: 0;
}

.about .detail .text p {
  font-size: 1rem;
  color: #00000080;
  font-weight: 300;
  margin-bottom: 1.5rem;
  max-width: 90%;
}

/* Testimonial */

section.testimonials {
  margin: 5rem 0;
  padding: 3rem 10%;
  text-align: center;
}

.testimonials .content-box {
  width: 100%;
  color: #fff;
  background: linear-gradient(45deg, #67c3f3, #5a98f2);
  padding: 5%;
  border-radius: 2rem;
  height: 300px;
}

.testimonials .content-box * {
  color: inherit;
}

.testimonials h2::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 2px;
  background-color: #fff;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
}

/* Testimonial card */
.testimonials .content-box .testimonial {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 0.5rem;
  padding: 0 5%;
}

.testimonials .content-box .testimonial img {
  height: 100px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  border: 2px solid #fff;
}

.testimonials .testimonial .profile {
  text-align: start;
  width: 20%;
  /* margin: 0 1rem; */
}

.testimonials .testimonial p {
  width: 60%;
}
/*
Testimonial controls */
.testimonials .control {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  max-width: 40%;
  margin: 2rem auto;
}

.testimonials .control .dots {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.2rem;
}

.testimonials .control .dots .dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #67c3f380;
  &.active {
    background-color: #458ff6;
  }
}

.testimonials .control i {
  font-size: 1.5rem;
  cursor: pointer;
  color: #458ff6;
  &:hover {
    color: #67c3f3;
  }

  &.disabled {
    color: #458ff640;
    cursor: not-allowed;
  }
}
